In [190]:
import pandas as pd

In [191]:
df = pd.read_csv ('homework.csv')

crim
per capita crime rate by town.

zn
proportion of residential land zoned for lots over 25,000 sq.ft.

indus
proportion of non-retail business acres per town.

chas
Charles River dummy variable (= 1 if tract bounds river; 0 otherwise).

nox
nitrogen oxides concentration (parts per 10 million).

rm
average number of rooms per dwelling.

age
proportion of owner-occupied units built prior to 1940.

dis
weighted mean of distances to five Boston employment centres.

rad
index of accessibility to radial highways.

tax
full-value property-tax rate per $10,000.

ptratio
pupil-teacher ratio by town.

black
1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town.

lstat
lower status of the population (percent).

medv
median value of owner-occupied homes in $1000s.

In [192]:
df.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [193]:
df.describe()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000
mean,250.951952,3.360341,10.689189,11.293483,0.060060,0.557144,6.265619,68.226426,3.709934,9.633634,409.279279,18.448048,359.466096,12.515435,22.768769
std,147.859438,7.352272,22.674762,6.998123,0.237956,0.114955,0.703952,28.133344,1.981123,8.742174,170.841988,2.151821,86.584567,7.067781,9.173468
min,1.000000,0.006320,0.000000,0.740000,0.000000,0.385000,3.561000,6.000000,1.129600,1.000000,188.000000,12.600000,3.500000,1.730000,5.000000
25%,123.000000,0.078960,0.000000,5.130000,0.000000,0.453000,5.884000,45.400000,2.122400,4.000000,279.000000,17.400000,376.730000,7.180000,17.400000
50%,244.000000,0.261690,0.000000,9.900000,0.000000,0.538000,6.202000,76.700000,3.092300,5.000000,330.000000,19.000000,392.050000,10.970000,21.600000
75%,377.000000,3.678220,12.500000,18.100000,0.000000,0.631000,6.595000,93.800000,5.116700,24.000000,666.000000,20.200000,396.240000,16.420000,25.000000
max,506.000000,73.534100,100.000000,27.740000,1.000000,0.871000,8.725000,100.000000,10.710300,24.000000,711.000000,21.200000,396.900000,37.970000,50.000000

In [165]:
df.corr()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
ID,1.000000,0.456312,-0.155639,0.421978,0.007958,0.440185,-0.112790,0.257300,-0.356461,0.707526,0.686246,0.309838,-0.271619,0.281953,-0.221694
crim,0.456312,1.000000,-0.210913,0.422228,-0.041195,0.463001,-0.310180,0.379034,-0.397067,0.666636,0.617081,0.313409,-0.475796,0.532077,-0.407454
zn,-0.155639,-0.210913,1.000000,-0.518679,-0.024442,-0.501990,0.328197,-0.544513,0.637142,-0.303663,-0.311180,-0.380449,0.168130,-0.388112,0.344842
indus,0.421978,0.422228,-0.518679,1.000000,0.037496,0.750087,-0.440365,0.638378,-0.702327,0.569779,0.708313,0.391087,-0.335049,0.614155,-0.473932
chas,0.007958,-0.041195,-0.024442,0.037496,1.000000,0.080275,0.112251,0.068286,-0.081834,0.007714,-0.021826,-0.125067,0.062029,-0.050055,0.204390
nox,0.440185,0.463001,-0.501990,0.750087,0.080275,1.000000,-0.338515,0.736000,-0.769364,0.612180,0.670722,0.192513,-0.369416,0.598874,-0.413054
rm,-0.112790,-0.310180,0.328197,-0.440365,0.112251,-0.338515,1.000000,-0.248573,0.269191,-0.272783,-0.356987,-0.366927,0.155202,-0.615747,0.689598
age,0.257300,0.379034,-0.544513,0.638378,0.068286,0.736000,-0.248573,1.000000,-0.764208,0.447380,0.511893,0.259293,-0.268054,0.588834,-0.358888
dis,-0.356461,-0.397067,0.637142,-0.702327,-0.081834,-0.769364,0.269191,-0.764208,1.000000,-0.477610,-0.529539,-0.231101,0.284374,-0.505939,0.249422
rad,0.707526,0.666636,-0.303663,0.569779,0.007714,0.612180,-0.272783,0.447380,-0.477610,1.000000,0.903562,0.470849,-0.406405,0.484568,-0.352251
tax,0.686246,0.617081,-0.311180,0.708313,-0.021826,0.670722,-0.356987,0.511893,-0.529539,0.903562,1.000000,0.467437,-0.406477,0.544485,-0.448078
ptratio,0.309838,0.313409,-0.380449,0.391087,-0.125067,0.192513,-0.366927,0.259293,-0.231101,0.470849,0.467437,1.000000,-0.164614,0.374802,-0.481376
black,-0.271619,-0.475796,0.168130,-0.335049,0.062029,-0.369416,0.155202,-0.268054,0.284374,-0.406405,-0.406477,-0.164614,1.000000,-0.356693,0.336660
lstat,0.281953,0.532077,-0.388112,0.614155,-0.050055,0.598874,-0.615747,0.588834,-0.505939,0.484568,0.544485,0.374802,-0.356693,1.000000,-0.738600
medv,-0.221694,-0.407454,0.344842,-0.473932,0.204390,-0.413054,0.689598,-0.358888,0.249422,-0.352251,-0.448078,-0.481376,0.336660,-0.738600,1.000000

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
ID         333 non-null int64
crim       333 non-null float64
zn         333 non-null float64
indus      333 non-null float64
chas       333 non-null int64
nox        333 non-null float64
rm         333 non-null float64
age        333 non-null float64
dis        333 non-null float64
rad        333 non-null int64
tax        333 non-null int64
ptratio    333 non-null float64
black      333 non-null float64
lstat      333 non-null float64
medv       333 non-null float64
dtypes: float64(11), int64(4)
memory usage: 39.1 KB

In [167]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.svm import SVR

In [168]:
df.columns

Index(['ID', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [169]:
X, y = df[['ID', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'black', 'lstat']], df['medv']

In [170]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X_train.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
332,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88
289,446,10.67180,0.0,18.10,0,0.740,6.459,94.8,1.9879,24,666,20.2,43.06,23.98
21,39,0.17505,0.0,5.96,0,0.499,5.966,30.2,3.8473,5,279,19.2,393.43,10.13
183,273,0.11460,20.0,6.96,0,0.464,6.538,58.7,3.9175,3,223,18.6,394.96,7.73
197,297,0.05372,0.0,13.92,0,0.437,6.549,51.0,5.9604,4,289,16.0,392.85,7.39

In [171]:
y_train.head()

332    11.9
289    11.8
21     24.7
183    24.4
197    27.1
Name: medv, dtype: float64

In [172]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Users\Kate\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Kate\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\Kate\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [173]:
X_train

array([[ 1.71588094e+00, -4.98031509e-01, -4.57874389e-01, ...,
         1.21394298e+00,  4.13557170e-01, -6.48021354e-01],
       [ 1.31038669e+00,  1.13466504e+00, -4.57874389e-01, ...,
         8.29699238e-01, -4.11662004e+00,  1.59888079e+00],
       [-1.44021599e+00, -4.78416511e-01, -4.57874389e-01, ...,
         3.49394565e-01,  3.69131116e-01, -3.34013290e-01],
       ...,
       [ 7.83244160e-01,  1.57269850e+00, -4.57874389e-01, ...,
         8.29699238e-01, -2.98535603e+00,  1.12575957e-01],
       [-4.80190561e-02, -4.73647995e-01,  5.83104991e-01, ...,
         3.01364097e-01,  1.01038445e-01, -3.25812879e-03],
       [ 4.38574046e-01, -4.56407266e-01, -4.57874389e-01, ...,
        -3.48491736e-02,  3.34179206e-01,  8.10371656e-01]])

In [174]:
X_train = pd.DataFrame(X_train, columns=X.columns)
X_test = pd.DataFrame(X_test, columns=X.columns)

In [175]:
X_train.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,1.715881,-0.498032,-0.457874,0.085203,-0.261291,0.150732,-0.307223,0.455707,-0.611408,-1.009144,-0.801357,1.213943,0.413557,-0.648021
1,1.310387,1.134665,-0.457874,0.981707,-0.261291,1.647977,0.285993,0.955752,-0.876340,1.619184,1.489255,0.829699,-4.116620,1.598881
2,-1.440216,-0.478417,-0.457874,-0.782241,-0.261291,-0.512718,-0.395722,-1.351598,0.076308,-0.552044,-0.766386,0.349395,0.369131,-0.334013
3,0.141212,-0.487706,0.488471,-0.636941,-0.261291,-0.826512,0.395233,-0.333650,0.112275,-0.780594,-1.092784,0.061212,0.388720,-0.668955
4,0.303409,-0.497062,-0.457874,0.374351,-0.261291,-1.068581,0.410444,-0.608674,1.158938,-0.666319,-0.708101,-1.187580,0.361705,-0.716405

### Linear Regression

In [176]:
linear = LinearRegression()

In [177]:
linear.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [178]:
print('intercept:', linear.intercept_)
print('slope:', linear.coef_)

intercept: 22.909398496240602
slope: [-0.77791703 -0.10293609  0.70508791  0.33050974  0.94257035 -1.72081909
  2.55892357 -0.02065416 -3.02534015  3.47581749 -2.0311772  -1.85639012
  1.03559571 -4.82445679]

In [179]:
linear.predict(X_train)

array([21.30081996, 11.14193239, 23.90103184, 27.86093855, 26.83239152,
       23.40215985,  8.64543383, 30.13766119, 20.66515008, 30.50150012,
       26.73864542, 25.4451751 , 25.07719349, 13.04652099,  4.12600599,
       15.18796669, 23.34201778, 31.73029316, 24.35959006, 22.67616888,
       19.27709762, 18.3177466 , 27.75248383, 32.21937992, 19.73723594,
       25.9574424 , 18.37506975, 18.21321884, 31.24544763, 29.22359807,
       16.81428137, 24.99881556, 30.18537483, 27.18287715, 30.32354012,
       27.50743075, 13.38532234, 34.0324936 , 29.86069495, 20.79051109,
       13.13956511, 30.26157243, 27.21750287, 30.47695658, 43.60980232,
       23.28214532, 25.78362779, 18.79752859, 17.11484777, 17.94186094,
       25.34992205, 15.29721304, 20.0086788 , -3.0356264 , 27.42170438,
       31.39553679, 35.99870119, 29.95219152, 21.16728119, 25.85950302,
       21.71168067, 22.53065371, 14.42284425, 33.25389557, 20.2735368 ,
       25.79162986,  8.05770628, 24.75816589, 16.32977235, 44.24776964,
       20.21426274, 36.93284102, 29.59637769, 24.59236222, 15.50924815,
       31.27041096, 31.43233733, 24.87259685, 18.37357062, 25.42188829,
       27.40613149, 15.14185049, 24.87761963, 30.64035019, 23.92737058,
       21.0829346 , 12.0217461 , 19.94156486, 22.34676265, 25.3404427 ,
        7.7603702 , 20.89295525, 19.55042024, 26.78969322, 32.91280323,
       27.82427416,  9.12607919, 34.82008225, 24.68381573, 26.84271694,
       19.4641941 , 29.92852051, 20.46071461, 14.7887129 , 12.24271293,
       13.4105646 , 20.70434191, 27.65374587, 25.9041254 , 20.40045901,
       10.53635318, 10.87109965, 12.81665306, 26.22917555, 18.22633629,
       12.68356015, 22.01940506, 23.93556291, 17.1364243 , 16.5686651 ,
       26.13746182, 39.10320057, 25.20938657, 13.74475441, 31.44338152,
       17.09981549, 23.06040482, 23.09943782, 14.89048287, 33.70054903,
       22.35657674, 35.81533141, 25.42702099,  6.74270406, 20.48846114,
       20.78936619, 20.83487894, 25.19429757, 39.25932875, 23.90703195,
       19.58042935, 24.57447946, 24.73024042, 18.00914181, 17.41989528,
       32.38736166, 14.45157135, 19.50216987, 23.42319279, 24.34207016,
       20.35835393,  7.63847498, 37.53993581, 35.30837619, 23.27497541,
       23.75982771, 23.93665999, 33.31485952, 22.81329423, 33.45724166,
       24.53485283, 34.79614098, 21.43162905, 26.68228446, 30.18706993,
       27.24053773, 29.15005261, 21.95938678, 21.75665352, 22.45599371,
       20.26607319, 38.46094223, 18.1960907 , 15.77669624, 13.5481478 ,
        5.81313241, 25.90654321, 21.29880034,  0.87655481, 25.65970055,
       28.38937788, 17.09497811,  2.15025692, 19.39049103, 17.07838036,
       38.65734042,  9.48975107, 22.3105116 , 27.66453283, 32.19832722,
       22.35129099, 20.13485113, 40.06399818, 20.56311539, 24.04457627,
       23.99662591, 18.41827041, 27.04895797, 30.88073726, 20.49790828,
       20.02499682, 10.72014162, 29.66619986, 16.67487677, 22.64830205,
       20.39123569, 27.671226  , 28.95117622, 20.92663374, 28.93459279,
       24.06802412, 22.96696951, 38.21787113, 38.82227636, 21.22431085,
       32.73617833, 13.80681794, 16.89243303, 13.94706256, 15.90370103,
       24.04263535, 29.7505692 , 21.27243366, 34.14217905, 21.04135669,
       23.47914837, 17.26698155, 30.00425134, 28.86463216, 22.02267024,
        8.30401686, 25.67530077, 17.81384324, 14.11193275, 18.90674103,
       25.90200055, 23.74185351, 21.96000467, 13.6093457 , 17.9306315 ,
       25.25420503, 21.75936199, 22.76382639, 34.53583321, 21.2088963 ,
       20.32566464, 18.34312236, 25.54201756, 40.44261033, 17.90639451,
       16.39998912, 32.99825708, 20.43838869, 17.624241  , 28.48898651,
       32.39586031, 13.63380813, 20.86277774,  8.80292062, 38.45360778,
       22.63638473, 20.28616477, 18.84730946, 13.08089112, 15.28144029,
       15.93746296])

#### SVR

In [180]:
svr_ = SVR()
svr_.fit(X_train, y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [181]:
svr_.predict(X_train)

array([20.39544427, 12.77588696, 22.10428617, 26.2839678 , 25.62884607,
       22.20672234, 13.05316774, 26.06764383, 20.76315226, 26.89547934,
       22.94953076, 25.44388307, 24.31563858, 16.94059056, 12.54038624,
       14.19991592, 21.8246544 , 29.34077931, 21.87948209, 20.43222077,
       15.49955422, 20.37440832, 27.5528858 , 28.30078152, 16.23782197,
       22.25036836, 16.40634269, 18.04270961, 25.47767942, 25.72587865,
       22.48096125, 23.92729447, 26.80211577, 22.22055038, 23.84786662,
       23.20007425, 19.03465631, 31.94214667, 29.03949015, 21.228423  ,
       16.07334128, 26.50800474, 24.15311604, 28.26211262, 24.95307728,
       20.40966602, 23.11366883, 15.66815536, 18.25162341, 19.78050172,
       23.66319693, 19.05207917, 16.92137117, 18.07088584, 21.76006121,
       28.63209318, 33.36873762, 25.01478413, 20.50037644, 22.03673343,
       20.66971496, 19.6058499 , 13.39725798, 30.08915085, 18.91793725,
       22.20377638, 12.35204774, 21.61536134, 19.96281827, 25.72150583,
       22.15567196, 27.01838301, 28.63797437, 23.23345128, 14.47634256,
       26.21999802, 29.57172649, 23.43542458, 16.21025357, 24.21376704,
       28.58339667, 19.25803244, 21.26767282, 27.03221611, 17.69349498,
       19.99991032, 12.49603155, 18.76044383, 21.70018866, 23.94371697,
       12.73378667, 20.43494988, 19.91927764, 23.99996663, 30.16537545,
       27.35618955, 14.86996272, 31.04880145, 23.91589086, 25.38093275,
       18.49176857, 27.80782106, 19.08021037, 12.83121944, 17.80278942,
       13.15399454, 18.60619535, 19.36076404, 24.99904386, 18.70000677,
       17.69521266, 12.78595069, 16.02307989, 24.33050719, 18.4564897 ,
       14.29625178, 21.19581623, 21.59293927, 15.84222633, 17.05682948,
       24.30024861, 23.8684064 , 25.31844514, 13.1872884 , 27.64880558,
       14.3691498 , 21.24349161, 20.12965659, 21.4358722 , 31.28106716,
       21.69722817, 27.82115628, 22.77413972, 11.85258962, 22.94408017,
       21.56535807, 19.79955069, 22.99351657, 33.45819872, 23.02245661,
       20.06062275, 22.178929  , 24.49953851, 15.86178602, 17.88213312,
       27.89798669, 16.41282962, 17.02204064, 18.1963313 , 20.07956173,
       20.24725185, 17.89165746, 34.09527409, 30.54805779, 21.27441884,
       25.79521448, 19.75160821, 26.06097405, 24.76592618, 30.0362658 ,
       21.12608356, 31.52634761, 19.23463641, 23.78342342, 29.80264721,
       24.65320782, 26.96095006, 19.53445684, 21.62270764, 16.94640045,
       20.82647394, 29.48561868, 14.08090465, 16.70858238, 15.92291338,
       12.75556525, 21.80000678, 18.57781486, 13.89988831, 22.70106704,
       26.13772626, 17.1132402 , 15.14818323, 16.34662298, 17.66821297,
       34.11265963, 13.00812742, 19.95252271, 25.06825531, 30.51962056,
       20.73607979, 15.90283503, 33.1741741 , 23.20531184, 20.48485882,
       22.36099781, 15.24970074, 23.51116183, 27.72851993, 18.8216869 ,
       17.94843502, 14.73084305, 26.20428073, 15.4963636 , 20.76308234,
       19.00494593, 24.14104801, 26.30195594, 19.54422261, 27.79166669,
       21.6010238 , 25.38925036, 33.36573571, 33.81164822, 19.40020771,
       30.20616083, 13.42895823, 18.24200371, 13.80638158, 13.40488959,
       24.59145665, 28.49946095, 15.61608566, 29.60206303, 18.66169895,
       22.84254673, 18.9440362 , 22.3279006 , 27.75780852, 16.19990102,
       18.66030148, 23.9634216 , 21.33427997, 13.23507356, 13.80043198,
       27.53652788, 23.39793608, 22.77094749, 15.43131748, 19.8218222 ,
       25.86888204, 21.40001985, 24.04470147, 29.11171515, 22.49223713,
       18.79324961, 17.49134314, 21.91048006, 31.94746782, 18.58446932,
       17.24000632, 26.18382445, 18.56310365, 18.98850103, 29.95107686,
       31.33965866, 12.30160808, 17.26790764, 17.89224876, 29.30356987,
       23.19998358, 16.21140344, 19.6322123 , 18.21249238, 17.70032835,
       17.69981132])

In [182]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error

###   Linear Regression

In [183]:
mean_squared_error (y_test, linear.predict(X_test))

16.807516596305636

In [184]:
r2_score (y_test, linear.predict(X_test))

0.7957775406149463

In [185]:
mean_absolute_error (y_test, linear.predict(X_test))

3.215862220522248

###   SVR

In [186]:
mean_squared_error (y_test, svr_.predict(X_test))

31.54053884819772

In [187]:
r2_score (y_test, svr_.predict(X_test))

0.6167615615905692

In [188]:
mean_absolute_error (y_test, svr_.predict(X_test))

3.5448349478721193

In [189]:
#